<p style="color: green"><%= notice %></p>

<%= render @doctor %>

<div>
  <%#= link_to "Edit this doctor", edit_doctor_path(@doctor) %> |
  <%= link_to "Back to doctors", api_v1_doctors_path %>

  <%#= button_to "Remove doctor", @doctor, method: :delete %>
</div>
